<nav class="navbar navbar-expand-lg navbar-custom">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <a class="navbar-brand navbar-custom" href="#"><img src="../../assets/Logo Dis.png">  Dispatcher</a>
          </ul>
        </div>
    </nav>

    <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2">
                            <h5>Order Information</h5>
    
                            <table>
                                    <thead>
                                      <tr>
                                        <th>Medicine</th>
                                        <th>Dosage</th>  
                                        <th>Qty</th>  
                                        <th>Price</th>          
                                      </tr>
                            </thead>
                            
                            <tbody>
                                    <tr>
                                      <td>Amlogard</td>
                                      <td>
                                            50 gms
                                      </td>
                                      <td>
                                            30
                                      </td>
                                      <td>
                                            Rs. 300
                                      </td>
                                    </tr>
                                    <tr>
                                            <td>Repace</td>
                                            <td>
                                                  100 gms
                                            </td>
                                            <td>
                                                  60
                                            </td>
                                            <td>
                                                  Rs. 150
                                            </td>
                                          </tr>
                                          <tr>
                                                <td>Betaone</td>
                                                <td>
                                                      30 gms
                                                </td>
                                                <td>
                                                      14
                                                </td>
                                                <td>
                                                      Rs. 200
                                                </td>
                                              </tr>
                                  </tbody>
                                  <tfoot>
                                        <tr>
                                                <td></td>
                                                <td>
                                                </td>
                                                <td>
                                                        <b>Total</b>
                                                </td>
                                                <td>
                                                    <b>Rs. 650</b>
                                                </td>
                                        </tr>
                                </tfoot>
                                </table>
                                <button class="waves-effect waves-light btn" (click)="onClick()">Back</button>
                        
                    </div>
                </div>
            </div>
          </div>
